name: Build
on:
  push:
  workflow_dispatch:

jobs:
  build-dotnet:
    name: Build with .NET
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet-version: ['6.0', '7.0', '8.0']
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Setup .NET SDK ${{ matrix.dotnet-version }}.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}.x

      - name: .NET build
        run: |
          dotnet build FINT.Information.Model.sln

      - name: .NET test
        run: |
          dotnet test --framework net${{ matrix.dotnet-version }}

  build-dotnetcore:
    name: Build with .NET Core
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        dotnet-version: ['2.1.x', '2.2.x', '3.1.x']
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: .NET Core build
        run: |
          dotnet build FINT.Information.Model.sln